.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

/* Shared styles */
button{
    color: 0D1321;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
}

/* Nav styles */
nav ul{
    display: flex;
    justify-content: space-between;
    margin: 50px 150px;
}

nav ul li{
    list-style: none;
}

nav li a{
    text-decoration: none;
    color: #0D1321;
    font-weight: 800;
    font-size: 28px;
}

/* <!-- Background image add --> */
.box{
    width: 1520px;
    height: 652px;
    background-image: url('image/Hero-bg.png');
}

.box-1{
    width: 1015px;
    height: 600px;
    text-align: center;
    margin-left: 225px;
}

.box-title{
    font-size: 50px;
    font-weight: 800;
    color: #0D1321;
}

.description-box{
    font-size: 17px;
    color: #0D1321;
    line-height: 27px;
}

.contact-btn{
    font-size: 21px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #0D1321;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    margin-top: 15px;
}

.group{
    margin-top: 25px;
}

/* Development styles */
.development{
    height: 1400px;
    width: 1125px;
    background-color: rgba(13, 19, 33, 0.04);
    margin: 100px 180px;
    border-radius: 10px;
}
.development-div{
    padding: 80px 98px 80px 98px;
    width: 920px;
}

.development-div1{
    padding: 0 40px 0 40px;
    text-align: center;
    margin-bottom: 50px;
}

.development-title{
    font-weight: 800;
    font-size: 32px;
    margin-bottom: 24px;
}

/* Coding style */
.coding-1st{
    display: flex;
    padding: 20px 40px 0 40px;
    justify-content: space-between;
    background-color: #FFFFFF;
    height: 280px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.first{
    width: 440px;
    height: 220px;
}
.first-title{
    font-size: 24px;
    line-height: 36px;
    color: #0D1321;
    padding-right: 100px;
}

.button-div{
    margin-top: 20px;
    font-size: 20px;
    color:  #0D1321;
    padding: 12px 20px;
    border-radius: 5px;
}

.second-title{
    font-size: 24px;
    line-height: 36px;
    color: #0D1321;
    padding-right: 30px;
}

/* Development1 system */
.development1{
    height: 780px;
    width: 1125px;
    margin: 100px 180px;
    border-radius: 10px;
}

.development1-div{
    text-align: center;
    padding: 0 100px 0 100px;
}

.video-div{
    padding: 32px;
    border: 1px solid #bfbfbf;
    margin-top: 20px;
    border-radius: 10px;
}

.development2{
    height: 1400px;
    width: 1125px;
    margin: 100px 180px;
    border-radius: 10px;
}






